<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Личный профиль</title>
  <style>
    body {
        background-image: url('/images/background.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-weight: 900;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
         color: #ffffff;
    }
  </style>
  <script>
    function toggleRecommendations() {
            if (recommendations.style.display === "none" || recommendations.style.display === "") {
                recommendations.style.display = "block";
            } else {
                recommendations.style.display = "none";
            }
    }
    function toggleEditForm() {
        const editForm = document.getElementById("editForm");
        editForm.style.display = editForm.style.display === "none" || editForm.style.display === "" ? "block" : "none";
    }
  </script>
</head>
<body>
  <h1>Добро пожаловать в личный кабинет, <span th:text = "${currentUser.getUserName()}"></span></h1>
  <hr>
  <p>Информация о пользователе:</p>
  <p>Фамилия: <span th:text = "${currentUser.getUserSurname()}"></span></p>
  <p>Имя: <span th:text = "${currentUser.getUserName()}"></span></p>
  <p>Отчество: <span th:text = "${currentUser.getUserMiddleName()}"></span></p>
  <hr>
  <button style="color: #000000" type="button" onclick="location.href='/api'" class="btn btn-primary">Вернуться на стартовую страницу</button>
  <br>
  <button style="color: #000000" type="button" onclick="toggleRecommendations()">Получить рекомендацию</button>
  <div id="recommendations" style="display: none;"> <!-- Блок для рекомендаций, скрыт по умолчанию -->
    <ul>
      <div th:each="serial : ${recommendations}">
        <a style="color: #ffffff;" th:href="@{/api/serials/{id}(id = ${serial.getId()})}" th:text="${serial.getSerialName()}">serial</a>
      </div>
    </ul>
  </div>
  <br>
  <button style="color: #000000" type="button" onclick="toggleEditForm()">Редактировать</button>

  <div id="editForm" style="display: none;">
    <form th:action="@{/api/users/edit}" th:method="post">
      <label>Фамилия:</label>
      <input type="text" name="surname" th:value="${currentUser.getUserSurname()}" required>
      <br>
      <label>Имя:</label>
      <input type="text" name="name" th:value="${currentUser.getUserName()}" required>
      <br>
      <label>Отчество:</label>
      <input type="text" name="middleName" th:value="${currentUser.getUserMiddleName()}" required>
      <br>
      <label>Новая почта:</label>
      <input type="email" name="email">
      <br>
      <label>Текущий пароль:</label>
      <input type="password" name="oldPassword" required>
      <br>
      <label>Новый пароль:</label>
      <input type="password" name="newPassword">
      <br>
      <label>Повторите новый пароль:</label>
      <input type="password" name="confirmNewPassword">
      <br>
      <input type="submit" value="Сохранить изменения">
    </form>
  </div>
  <div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
  </div>
  <hr>
<a style="color: #ffffff" href="/logout">Выйти из личного кабинета</a>
</body>
</html>