<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
    <style>
        body {
            background-image: url('/images/background.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            text-align: center;
            text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px  1px 0 #000,
                1px  1px 0 #000;
            color: #FFA07A;
        }
    </style>
</head>
<body>
    <h1 style="font-size: 35px; letter-spacing: 2px; font-weight: bold;">Добро пожаловать в рекомендательную систему!</h1>
    <hr/>
    <br>
    <a style="color: #FFA07A; font-size: 40px;" href="api/nonPersonal">Топ - 3 самых просматриваемых сериала</a>
    <br>
    <br>
    <br>
    <br>
    <a style="color: #FFA07A; font-size: 38px; letter-spacing: 2px;" href = "api/serials">Сериалы</a>
    <br>
    <br>
    <br>
    <hr>
    <a style="color: #FFA07A; font-size: 38px; letter-spacing: 2px;" href = "api/users/personalAccount">Личный кабинет</a>
</body>
</html>