<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
    <style>
        body {
            background-image: url('/images/background.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            font-style: italic;
            text-align: center;
            font-
        }
    </style>
</head>
<body>
    <h1 style="color: #FFFFFF">Добро пожаловать в рекомендательную систему!</h1>
    <hr/>
    <a style="color: #FFFFFF; font-size: 45px" href = "Users">Пользователи</a>
    <br/>
    <a style="color: #FFFFFF; font-size: 45px" href = "Serials">Сериалы</a>
    <hr/>
    <a style="color: #FFFFFF; font-size: 30px" href="TopBest">Топ самых просматриваемых сериалов</a>
</body>
</html>