<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
    <style>
        body {
            background-image: url('/images/background.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            font-style: italic;
            text-align: center;
            text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px  2px 0 #000,
                2px  2px 0 #000;
            color: #fffacd;
        }
    </style>
</head>
<body>
    <h1 style="font-size: 35px; letter-spacing: 2px; font-weight: bold;">Добро пожаловать в рекомендательную систему!</h1>
    <hr/>
    <br>
    <a style="color: #fffacd; font-size: 40px;" href="api/nonPersonal">Топ - 3 самых просматриваемых сериала</a>
    <br>
    <br>
    <br>
    <br>
    <a style="color: #fffacd; font-size: 38px; letter-spacing: 2px;" href = "api/serials">Сериалы</a>
    <br>
    <br>
    <br>
    <hr>
</body>
</html>