<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр серии</title>
    <style>
        body {
            background-image: url('/images/background.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            text-align: center;
            text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px  2px 0 #000,
                2px  2px 0 #000;
            color: #FFA07A;
            font-size: 50px;
        }
    </style>
</head>
<body>
<p>Вы перенаправляетесь на просмотр серии</p>
</body>
</html>